<div class = "a">

<h4> Le cours actuel de la crypto <%= @z %> est de :</h4>

<br>
<br>
<p> <%= @m %> </p>
<br>
<br>
<form action="/" method="get">
	<button action="/" method="get">Retour au menu</button>

</form>

</div>