body {background: #3494E6;
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
background: linear-gradient(to right, #EC6EAD, #3494E6);}

#formulaire {
	position: absolute;
	z-index:3;
margin-top: 0%;
margin-left: 45%;}

#bouton_formulaire
{
	position: absolute;
	z-index:2;
 margin-top: 2%;
margin-left: 49%;


}

h1 {
	position: absolute;
	z-index:1;
text-align: center;

margin-top:150px ;
	position: relative;
	font: 70px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: white ;
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
